body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5 !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-primary {
  color: #fff !important;
  background-color: #35bdb2 !important;
  border-color: #35bdb2 !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #35bdb240 !important;
  border-color: #35bdb2 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #35bdb240 !important;
}

h1 {
  font-family: "Patua One", cursive;
  font-weight: 500 !important;
  line-height: 1.2 !important;
  font-size: 2rem !important;
}

.heading-list-post {
  font-family: "Patua One", cursive;
  font-weight: 500 !important;
  line-height: 1.2 !important;
  font-size: 1.75rem !important;
}

.bg-gray {
  background-color: #fafbfb;
}

.loading-overlay-show {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 189, 178, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1005;
}

.loading-overlay-show > i {
  margin: auto 0;
  color: white;
  font-size: 60px;
}

.sidenav {
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #35bdb2;
  overflow-x: hidden;
  padding-top: 0px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  padding: 0px 10px;
}

.clr-red {
  color: red;
  cursor: pointer;
}

.react-datepicker-wrapper {
  display: block !important;
}

.superFancyBlockquote {
  color: #999;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  text-align: center;
}

.wrapper-class {
  border: 1px solid #ced4da;
  border-radius: 2px;
}

.wrapper-editor {
  padding: 10px;
}

.react-datepicker__input-container {
  display: block !important;
}
